section(class="footer wrapper")
	.footer-icons.wrapper
		.icons-text We're confident we've provided all the best for you. Stay connect with us
		.icons-small.wrapper
			i.fab.fa-facebook-f.fa-2x
			i.fab.fa-twitter.fa-2x
			i.fab.fa-instagram.fa-2x
			i.fab.fa-linkedin-in.fa-2x
			i.fab.fa-behance.fa-2x
	.footer-content.wrapper
		.content-information.wrapper
			.information-topic INFORMATION
			.information-list
				ul
					li Delivery information
					li Discount
					li Sitemap
					li Privacy Policy
					li My account
		.content-account.wrapper
			.account-topic MY ACCOUNT
			.account-list
				ul
					li Sign In
					li View Cart
					li My Wishlist
					li Check Out
					li Track my order
		.content-help.wrapper
			.help-topic HELP
			.help-list
				ul
					li F.A.Q.
					li Shipping
					li Contact Us
					li Privacy Policy
		.content-info.wrapper
			.info-topic CONTACT INFO
			.info-list
				ul
					li.wrapper
						.globe
							i.fa.fa-globe
						.text 1234 Your Adress, Country
					li.wrapper
						.phone
							i.fa.fa-phone
						.text + 1 123 5678 9999
					li.wrapper
						.envelope
							i.fa.fa-envelope
						.text mail@domain.com
	.footer-requisites.wrapper
		.requisites-content.wrapper
			.requisites-text.wrapper Copyright 2017 RenoshopBee all right reserved - Design by BeeStudios
			.requisites-cards.wrapper
				i.fab.fa-cc-visa.fa-3x
				i.fab.fa-cc-paypal.fa-3x
				i.fab.fa-cc-amazon-pay.fa-3x
				i.fab.fa-cc-mastercard.fa-3x
				i.fab.fa-cc-amex.fa-3x
