html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="C2416A10-77BA-46A4-B2E0-BC1C17E8AB21" crossorigin="anonymous")
		script(src="js/libs.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
		script(src="js/common.js")
			body
				include header
				section(class="slider wrapper")
                	.slider-content.wrapper
                		.content-topic.wrapper
                			.topic-start THE BEST
                			.topic-continue WOOCOMMERCE
                		.content-text.wrapper Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                		.content-btn
                			button BUY NOW
				section(class="sellers wrapper")
					.sellers-best.wrapper
						.best-topic BEST SELLERS
						.best-sentence The best production from us
						.best-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.sellers-first.wrapper
						.first-img.wrapper
							.first-icons.wrapper
								.shopping.wrapper
									i.fa.fa-shopping-cart.fa-2x
								.heart.wrapper
									i.fa.fa-heart.fa-2x
								.refresh.wrapper
									i.fas.fa-retweet.fa-2x
						.first-title Cruise Dual analog
						.first-price $250.00
						.first-stars
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
					.sellers-second.wrapper
						.second-img
						.second-title Crown Summit Backpack
						.second-price $250.00
						.second-stars
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
					.sellers-third.wrapper
						.third-img
						.third-title Joust Duffle Bag
						.third-price $250.00
						.third-stars
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
					.sellers-fourth.wrapper
						.fourth-img
						.fourth-title Voyage Yoga Bag
						.fourth-price $250.00
						.fourth-stars
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
				section(class="staic-blocks wrapper")
					.block-special.wrapper
						.special-img
							i.fas.fa-gem.fa-3x
						.special-topic SPECIAL OFFERS
						.special-text Shop Big Save Big
					.block-free.wrapper
						.free-img
							i.fab.fa-telegram-plane.fa-3x
						.free-topic FREE DELIVERY
						.free-text On Orders Above $99
					.block-return.wrapper
						.return-img
							i.fas.fa-retweet.fa-3x
						.return-topic 30 DAYS RETURN
						.return-text Policy We Offers
					.block-shipping.wrapper
						.shipping-img
							i.fas.fa-rocket.fa-3x
						.shipping-topic FASTEST SHIPPING
						.shipping-text 2 Day Express
				section(class="categories wrapper")
					.first-cantainer.wrapper
						.container-content.wrapper
							.content.wrapper
								.categorie FASHIOM
								.topic SUMMER & AUTUMN
								.collection WINTER COLLECTION
					.second-cantainer.wrapper
						.container-content.wrapper
							.content.wrapper
								.categorie FASHION FOR MEN
								.topic 30% OFF
								.collection WINTER COLLECTION
					.third-cantainer.wrapper
						.container-content.wrapper
							.content.wrapper
								.categorie FASHION
								.topic NEW FASHION STYLES
								.collection WINTER COLLECTION
				section(class="products wrapper")
					.products-title.wrapper
						.title FEATURED PRODUCTS
						.sentence Newest trends from top brends
					.products-container.wrapper
						//each title in ["Cruise Dual Analog", "hui", "Joust Duffle Bag", "Voyage Yoga Bag", "Compete Truck Tote", "Sprite Yoga Companion Kit", "Strive Shoulder Pack", "Impulse Duffle" "Fusion Backpack", "Endeavor Daytrip"]
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
						.product
							.product-img
							.product-title Cruise Dual Analog
							.product-price $250.00
							.product-stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
				section(class="subscribe-clients wrapper")
					section(class="subscribe wrapper")
						.subscripe-topic Get Out Special Discount
						.subscribe-text Donec eu tristique felis. Duis augue mi, auctor ut purus et, dignissim aliquet quam. register your email for news and special offers
						.subscribe-form.wrapper
							input(placeholder = "E-mail adress...")
							button GET COUPON NOW
					section(class="clients wrapper")
						.client-first.wrapper
						.client-second.wrapper
						.client-third.wrapper
						.client-fourth.wrapper
				include footer