@media screen and (max-width: 600px)
  .slider
    .slider-content
      width: 400px
      .content-topic
        font-size: 50px
  .subscribe-clients
    .subscribe
      .subscribe-form
        flex-direction: column
        justify-content: center
        align-items: center
        button
          margin-top: 20px
          width: 150px
  .info
    .info-container
      width: 100%
      padding: 0px 10px
@media screen and (max-width: 950px)
  .nav-bar
    display: block
    height: 100px
    z-index: 20
    .nav-top
      display: none
    .nav-down
      flex-direction: column
      .down-open-menu
        display: block
        align-self: flex-start
        position: absolute
        top: 35px
        left: 25px
      .down-menu
        background-color: $txt-color-white
        flex-direction: column
        position: absolute
        top: 100px
        left: -1000px
        justify-content: center
        align-items: center
        align-content: center
        width: 100%
        transition: 1s
        opacity: 0
        height: 230px
        z-index: 20
        a
          text-align: center
          width: fit-content
          padding-bottom: 10px
      .show-menu
        left: 0
        opacity: 1
      .down-icons
        padding-top: 10px
        flex-direction: row
        flex-wrap: nowrap
        position: absolute
        top: 290px
        width: 100%
        left: -1000px
        opacity: 0
        transition: 2s
        z-index: 20
      .show-icons
        opacity: 1
        left: 0
  .slider
    .slider-show
      .slides
        img

  .static-blocks
    flex-wrap: wrap
    height: 400px
    .block-special,
    .block-free,
    .block-return,
    .block-shipping
      height: 200px
      width: 250px

  .path
    display: none
  .cart
    .tbl-container
      display: block
      width: 100%
      overflow-x: auto

  .product-view-big
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    .product
      width: 450px
  .related-products
    .related-container
      .related-top
        display: none
      .related-main
        .product
          margin-right: auto
          margin-left: auto


@media screen and (max-width: 1400px)
  .nav-bar
    .nav-top
      .top-left
        .num-container
          display: none
  .footer
    padding-top: 50px
    .footer-icons
      flex-direction: column
      justify-content: center
      .icons-small
        width: 200px
    .footer-content
      flex-wrap: wrap
      div
        width: 140px
      .content-info
        flex-direction: column
        .info-list
          ul
            li
              .globe,
              .phone,
              .envelope
                width: 20px
    .footer-requisites
      height: fit-content
      .requisites-content
        flex-wrap: wrap
  .slider
    justify-content: center
    .slider-content
      margin: 0

  .sellers
    flex-wrap: wrap
    div
      margin-bottom: 10px
    .sellers-best
      align-self: center
  .static-blocks
    flex-wrap: wrap
    height: 400px
    .block-special,
    .block-free,
    .block-return,
    .block-shipping
      height: 200px
  .products
    justify-content: center
    align-items: center
    align-content: center
    .products-container
      justify-content: space-around
      align-content: center
      align-items: center
      .product
        width: 300px
  .subscribe-clients
    .subscribe
      width: 100%
    .clients
      display: none
  .info
    flex-wrap: wrap
    justify-content: center
    .info-container
      justify-content: center
    .info-footer
      justify-content: center
      width: 100%
      align-content: center
      align-items: center
      flex-direction: column
      flex-wrap: wrap
  .footer
    .footer-icons
      .icons-text
        margin-bottom: 10px
        text-align: center

@media screen and (max-width: 1700px)
  .categories
    display: none

@media screen and (max-width: 500px)
  .slider
    height: 500px
    .slider-content
      width: 280px
      .content-topic
        font-size: 30px
  .static-blocks
    height: 800px
  .subscribe-clients
    .subscribe
      .subscripe-topic
        font-size: 20px
      .subscribe-text
        width: 220px
      .subscribe-form
        input
          width: 220px
  .footer
    .footer-content
      justify-content: center
      div
        flex-direction: column
        justify-content: center
    .footer-requisites
      .requisites-content
        width: 280px
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        .requisites-cards
          width: 280px
  .product-view-big
    .product
      width: 100%
      .product-gallery
        .gallery-main
          width: 300px
          height: 400px
          margin-left: auto
          margin-right: auto
        .gallery-slider
          width: 300px
          margin-right: auto
          margin-left: auto
          .slider-img
            width: 70px
            height: 100px
      .product-content
        width: 300px
        margin-left: auto
        margin-right: auto
        .content-topic
          width: 300px
        .content-price-star
          width: 100%
          .star
            width: 100px
  .description-reviews
    width: 100%
    .description-reviews-container
      width: 100%
      .reclick
        width: 300px
        .description,
        .reviews
          width: 50%
  .related-products
    .related-container
      width: 100%
      .related-top
        display: none
      .related-main
        flex-direction: column
        margin-left: auto
        margin-right: auto
  .info
    .info-container
      .info-left
        .coupon
          .coupon-input
            div
              flex-direction: column
              justify-content: center
              align-items: center
              align-content: center
              input
                width: 100%
                height: 50px
              button
                margin-top: 10px
                width: 100%
      .info-right
        padding-top: 20px
        .gift
            .gift-input
              div
                flex-direction: column
                justify-content: center
                align-items: center
                align-content: center
                form
                  flex-direction: column
                  input
                    width: 100%
                    height: 50px
                  button
                    margin-top: 10px
                    width: 100%
    .info-footer
      .upd,
      .proceed
        width: 200px

  .grid
    .grid-filter-container
      .grid-main
        .grid-footer
          .footer-nums-pages
            width: fit-content
            a
              margin-left: 5px
              margin-right: 5px


@media screen and (max-width: 1875px)
  .grid
    .grid-filter-container
      margin-left: auto
      margin-right: auto
      justify-content: center
      align-items: center
      align-content: center
      width: auto
      .grand-filter
        align-self: flex-start
        position: absolute
        left: -1000px
        transition: 1s
        background-color: $bg-color-white
        padding-left: 5px
        width: 300px
      .show-filter
        left: 0
      .grid-main
        .btn-open-filter
          display: block
          margin-bottom: 20px
@media screen and (max-width: 1200px)
  .grid
    .grid-filter-container
      .grid-main
        .filter
          display: none
@media screen and (max-width: 720px)
  .grid
    .grid-filter-container
      .grand-filter
        margin-top: 42px
        width: 320px
      .grid-main
        width: 100%
        .grid-container
          width: 100%
          .product
            margin-right: auto
            margin-left: auto