@media screen and (max-width: 1400px)
  .nav-bar
    .nav-top
      .top-left
        .num-container
          display: none
  .footer
    .footer-icons
      flex-direction: column
      justify-content: center
      flex-wrap: wrap
    .footer-content
      flex-wrap: wrap
    .footer-requisites
      height: fit-content
      .requisites-content
        flex-wrap: wrap
  .info
    flex-wrap: wrap
    justify-content: center
    .info-container
      justify-content: center
    .info-footer
      justify-content: center
      width: 100%
      align-content: center
      align-items: center
      flex-direction: column
      flex-wrap: wrap

