@import "base"
@import "color"
.nav-bar
  flex-direction: column
  height: 150px
  width: 100%
  border: solid 1px red
  .nav-top
    height: 50px
    background-color: $bg-color-black
    flex-direction: row
    justify-content: space-between
    .top-left
      margin-left: 60px
      border: solid 1px blue
      height: 100%
      width: 15%
      align-self: flex-start
      justify-content: space-around
      .left-phone-icon
        background-size: contain
      .left-num
        color: $txt-color-white
        align-items: center
        align-content: center
      .left-mail
        color: $txt-color-white
        align-items: center
        align-content: center
    .top-right
      margin-right: 60px
      border: solid 1px blue
      height: 100%
      width: 15%

      color: $txt-color-white
      justify-content: center
      align-items: center
  .nav-dawn
    height: 100px
    border: solid 1px red
    background-color: $bg-color-white


